.searchError {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    padding-top: 2%;
    padding-left: 5%;
    color: white;
    text-shadow: rgba(194, 55, 104, 0.5) 0px 4px 16px, rgba(194, 55, 104, 0.5) 0px 8px 24px, rgba(194, 55, 104, 0.5) 0px 16px 56px;
}

.error {
    grid-area: error;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: rgba(194, 55, 104, 0.5) 0px 4px 16px, rgba(194, 55, 104, 0.5) 0px 8px 24px, rgba(194, 55, 104, 0.5) 0px 16px 56px;
}